APP_ENV=production
APP_DEBUG=false

MYSQL_DATABASE=milestudy
MYSQL_USER=milestudy_app
MYSQL_PASSWORD=ganti_password_db_yang_kuat
MYSQL_ROOT_PASSWORD=ganti_password_root_yang_kuat

DB_CONNECTION=mysql
CACHE_STORE=file
SESSION_DRIVER=file
MYSQL_ATTR_SSL_VERIFY_SERVER_CERT=false
